.container-footage{
	font-family: "Kanit-Light";
	font-size: 1.6em;
	position: relative;
	width: 100%;
	color: #FFFFFF;
}
#foot1, #foot2{
	font-family: "Kanit-Light";
	position: absolute;
	text-align: left;
}
#foot1{
	width: 30%;
	left: 10%;
	top: 15%;
}
#foot2{
	width: 30%;
	left: 45%;
	top: 15%;
}
#footage-all{
	width: 100%;
}

#space{
	margin-top: 200px;
}

@font-face{
	font-family: "Kanit-Light";
	src: url('../font/Kanit-2/Kanit-Light.ttf') format('truetype');
}

@media screen and (max-width: 750px){
	#foot1, #foot2{
		font-size: 0.4em;
	}
}