/*#page4-img1, #page4-img2, #page4-img3{
	width: 100%;
}*/
.container-page4{
	font-family: "Kanit-Light" !important;
}
.table{
	width: 90%;
	margin-left: 5%;
}

th{
	text-align: center;
	font-size: 2.5em;
}
td{
	text-align: left;
	font-size: 2.5em;
}

.glyphicon-ok-circle{
	color: #F9A731;
}

.container-price{
	width: 100%;
	position: relative;
}

.content-price{
	text-align: left;
	position: absolute;
	left: 10%;
	top: 35%;
	width: 50%;
}

#label-content1{
	color: #26B194;
	font-size: 6.5em;
}

#label-content2{
	font-family: "Kanit-Thin" !important;
	font-size: 3.7em;
}

.detail-price{
	position: absolute;
	text-align: left;
	left: 60%;
	top: 23%;
}

#label-detail{
	font-family: "Kanit-Thin" !important;
	font-size: 3em;
}

.glyphicon{
	margin-top: 10%;
}

#col-1{
	text-align: center;
	color: #15901A;
}
#col-2{
	text-align: center;
	color: #6A3E90;
}
#col-3{
	text-align: center;
	color: #F9A731;
}

.table>tbody>tr>td{
	padding-left: 40px !important;
}

#report-detail{
	margin-left: 50px;
	font-size: 0.9em;
}

#package-label{
	padding-top: 50px;
	font-size: 3.5em;
	color: #26B194;
	margin-left: 10%;
	padding-bottom: 20px;
}
#end1-page4{
	font-size: 2.5em;
	color: #F9A832;
}

#end2-page4{
	margin-left: 6%;
	font-size: 2.5em;
	color: #1AAE8E;
	text-align: center;
}
.container-end4{
	position: relative;
	margin-top: 50px;
	margin-right: 11%;
	text-align: right;
	padding-bottom: 60px;
}

#contact{
	font-family: "Kanit";
	background: #26B194;
	border-color: #FFFFFF;
	float: right;
	font-size: 1.8em;
	border-radius: 10px;
	position: absolute;
	bottom: 2%;
	right: 0%;
}

.space-end4{
	padding-top: 5%;
}

@font-face{
	font-family: "Kanit";
	src: url('../font/Kanit-2/Kanit-Regular.ttf') format('truetype');
}

@font-face{
	font-family: "Kanit-Light";
	src: url('../font/Kanit-2/Kanit-Light.ttf') format('truetype');
}

@font-face{
	font-family: "Kanit-Thin";
	src: url('../font/Kanit-2/Kanit-Thin.ttf') format('truetype');
}

@media screen and (max-width: 576px){
	th{
		font-size: 0.8em;
	}
	td{
		font-size: 0.8em;
	}
	#label-content1{
		font-size: 2em;
	}

	#label-content2{
		font-size: 1.2em;
	}
	#label-detail{
		font-size: 1em;
	}
	#report-detail{
		font-size: 0.8em;
	}

	#package-label{
		font-size: 1.8em;
	}
	#end1-page4{
		font-size: 0.8em;
	}

	#end2-page4{
		font-size: 0.8em;
	}
	#contact{
		font-size: 0.85em;
	}
}

@media screen and (min-width: 577px) and (max-width: 992px){
	th{
		font-size: 1em;
	}
	td{
		font-size: 1em;
	}
	#label-content1{
		font-size: 2.5em;
	}

	#label-content2{
		font-size: 1.6em;
	}
	#label-detail{
		font-size: 1.2em;
	}
	#report-detail{
		font-size: 0.8em;
	}

	#package-label{
		font-size: 2.2em;
	}
	#end1-page4{
		font-size: 1em;
	}

	#end2-page4{
		font-size: 1em;
	}
	#contact{
		font-size: 1.2em;
	}

}

@media screen and (min-width: 993px) and (max-width: 1200px){
	th{
		font-size: 1.5em;
	}
	td{
		font-size: 1.5em;
	}
	#label-content1{
		font-size: 3.6em;
	}

	#label-content2{
		font-size: 2.3em;
	}
	#label-detail{
		font-size: 2em;
	}
	#report-detail{
		font-size: 0.8em;
	}

	#package-label{
		font-size: 2.6em;
	}
	#end1-page4{
		font-size: 1.3em;
	}

	#end2-page4{
		font-size: 1.3em;
	}
	#contact{
		font-size: 1.2em;
	}

}