iframe{
	position: absolute;
	left: 20%;
	width: 60%;
	height: 65%;
}
.videoWrapper {
	position: relative;
	padding-bottom: 41.25%; 
	padding-top: 25px;
	height: 0;
}

#head1,#head2,#content-img1,#content-img2{
    width: 100%
}

.carousel-caption{
	position: relative;
	text-align: left;
	width: 100%;
}

#cap-head,#cap-head2{
	font-family: "Kanit";
	font-size: 5.4em;
	color: #26B194;
}

#head-data1{
	position: absolute;
	left: 47%;
	top: 27%;
	width: 50%; 

}

#head-data2{
	position: absolute;
	left: 2%;
	top: 27%;
	width: 50%;
}

#cap-detail{
	font-family: "Kanit-Light";
	font-size: 2.4em;
	color: #000000;
	margin-top: 30px;
}

#cap-detail2{
	font-family: "Kanit-Light";
	font-size: 4.2em;
	color: #000000;
	margin-top: 30px;
}

#content-img3{
	margin-top: 150px;
	width: 100%;
	height: 500px;
}

.reference-main{
	position: relative;
    text-align: center;
    margin-bottom: 300px;
}
.centered {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26B194;
}
.refer-per1, .refer-per2, .refer-per3, .refer-per4, .refer-per5{
	position: absolute;
	top: 18.5%;
	width: 18%;
	text-align: center;
}
.refer-per1{
	left: 6%;
}
.refer-per2{
	left: 23.5%;
}
.refer-per3{
	left: 41%;
}
.refer-per4{
	left: 58.5%;
}
.refer-per5{
	left: 76%;
}


.container-equipment{
	font-family: "Kanit-Light";
	width: 100%;
	position: relative;
}

.con-eq-body1, .con-eq-body2, .con-eq-body3{
	position: absolute;
	font-family: "Kanit-Light" !important;
	text-align: center;
	width: 30%;
	height: 23%;
}

.con-eq-body1{
	bottom: 7%;
}
.con-eq-body2{
	left: 35%;
	bottom: 7%;
}
.con-eq-body3{
	left: 70%;
	bottom: 5%;
}

#eq-head{
	font-size: 3em;
	color: #26B194;
}

#eq-body{
	font-size: 2em;
}

h1,h2,h3{
	font-family: "Kanit";
}
@font-face{
	font-family: "Kanit";
	src: url('../font/Kanit-2/Kanit-Regular.ttf') format('truetype');
}
@font-face{
	font-family: "Kanit-Light";
	src: url('../font/Kanit-2/Kanit-Light.ttf') format('truetype');
}
@font-face{
	font-family: "Kanit-Thin";
	src: url('../font/Kanit-2/Kanit-Thin.ttf') format('truetype');
}

@media screen and (max-width: 576px){
	#head1,#head2,#content-img1,#content-img2{
	    margin-top: 5%;
	}
	#cap-head,#cap-head2{
		font-size: 1.9em;
	}
	#cap-detail{
		font-size: 0.9em;
	}
	#cap-detail2{
		font-size: 0.9em;
	}
	#eq-head{
		font-size: 1.2em;
	}

	#eq-body{
		font-size: 0.6em;
	}
	.reference-main{
	    margin-bottom: 10%;
	}
}

@media screen and (min-width: 577px) and (max-width: 992px){
	#head1,#head2,#content-img1,#content-img2{
	    margin-top: 5%;
	}
	#cap-head,#cap-head2{
		font-size: 2.3em;
	}
	#cap-detail{
		font-size: 1.05em;
	}
	#cap-detail2{
		font-size: 1.7em;
	}
	#eq-head{
		font-size: 1.7em;
	}

	#eq-body{
		font-size: 0.9em;
	}
	.reference-main{
	    margin-bottom: 10%;
	}
}
@media screen and (min-width: 993px) and (max-width: 1200px){
	#head1,#head2,#content-img1,#content-img2{
	    margin-top: 5%;
	}
	#cap-head,#cap-head2{
		font-size: 3.5em;
	}
	#cap-detail{
		font-size: 1.8em;
	}
	#cap-detail2{
		font-size: 2.7em;
	}
	#eq-head{
		font-size: 2.7em;
	}

	#eq-body{
		font-size: 1.3em;
	}
	.reference-main{
	    margin-bottom: 10%;
	}
}