#page2-img1, #page2-img2, #page2-img3,
#page2-img4, #page2-img5, #page2-img6{
	width: 100%;
}
.container-page2{
	font-family: "Kanit-Light" !important;
}
.con1-feature{
	width: 100%;
	position: relative;
}
.con1-main{
	width: 55%;
	position: absolute;
	text-align: left;
	color: #4A4A4A;
	left: 12%;
	top: 20%;
}
#main-text1{
	font-size: 6.5em;
}
#main-text2{
	margin-top: 30px;
	font-size: 3em;
}

.con2-feat1, .con2-feat2{
	position: absolute;
	text-align: center;
}
.con2-feat1{
	width: 50%;
	top: 13%;
}
.con2-feat2{
	left: 60%;
	top: 13%;
}

#con-text1{
	color: #26B194;
	font-size: 4.8em;
}

#con-text2{
	font-family: "Kanit-Thin" !important;
	font-size: 2.8em;
}

.con3-feat1{
	width: 50%;
	position: absolute;
	text-align: center;
	top: 30%;
}

.con4-feat1, .con4-feat2{
	text-align: center;
	position: absolute;
}

.con4-feat1{
	left: 65%;
	top: 10%;
}
.con4-feat2{
	width: 50%;
	top: 63%;
}

.con5-feat1{
	text-align: center;
	position: absolute;
	top: 35%;
	left: 55%;
}
.con6-feat1{
	text-align: left;
	position: absolute;
	top: 12%;
	left: 5%;
	width: 50%;
}
@font-face{
	font-family: "Kanit";
	src: url('../font/Kanit-2/Kanit-Regular.ttf') format('truetype');
}

@font-face{
	font-family: "Kanit-Light";
	src: url('../font/Kanit-2/Kanit-Light.ttf') format('truetype');
}

@font-face{
	font-family: "Kanit-Thin";
	src: url('../font/Kanit-2/Kanit-Thin.ttf') format('truetype');
}

@media screen and (max-width: 576px){
	.container-page2{
		margin-top: 10%;
	}
	#main-text1{
		font-size: 1.6em;
	}
	#main-text2{
		font-size: 1em;
	}

	#con-text1{
		font-size: 1.4em;
	}

	#con-text2{
		font-size: 0.85em;
	}
}

@media screen and (min-width: 577px) and (max-width: 992px){
	#main-text1{
		font-size: 2.3em;
	}
	#main-text2{
		font-size: 1.4em;
	}

	#con-text1{
		font-size: 2em;
	}

	#con-text2{
		font-size: 1em;
	}
}

@media screen and (min-width: 993px) and (max-width: 1200px){
	.container-page2{
		margin-top: 10%;
	}
	#main-text1{
		font-size: 4em;
	}
	#main-text2{
		font-size: 2em;
	}

	#con-text1{
		font-size: 3em;
	}

	#con-text2{
		font-size: 1.7em;
	}
}
